.brand-section {
    margin-top: 130px;
    padding-bottom: 60px;

    @media(max-width: 1024px) {
        margin-top: 0px;
    }

    &-left{

    }

    &-right{
        svg{
            transform: rotate(180deg);
        }
    }

    &-img{
        position: relative;
        max-width: 90%;
        height: 194px;

        @media(max-width: 450px){
            max-width: 100%;
        }

        img{
            width: 100%;
            height: 100%;
            border-radius: 20px;
            border: 1px solid $grey2;
        }
    }

    &-content {

        &-top {

            margin-bottom: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;


            h3 {
                font-family: $fontFire;
                font-size: 45px;
                font-weight: 400;
                line-height: 54px;
                color: $grey;
                text-transform: uppercase;

            }

            &-buttons {
                display: flex;
                align-items: center;
                gap: 20px;


                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 53px;
                    height: 53px;
                    border-radius: 50%;
                    color: $white;
                    background-color: $blueWhite;

                    &:disabled,
                    &[disabled] {
                        background-color: $white;
                        color: $grey;
                        border: 1px solid $grey2
                    }

                    svg {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}

.brand-slider{

    .slick-dots{
        width: 100%;
        margin-bottom: -50px;

        display: flex !important;
        justify-content: space-between;
        align-items: center;
        gap: 0;

        li{
            margin: 0 !important;
            width: 100%;
            button{
                width: 100%;

                &::before{
                    background-color: $blueWhite;
                    height: 3px;
                    width: 100%;
                    content: '';
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .brand-section-content-top{
        h3{
            text-align: center;
        }
    }
    .brand-section-content-top-buttons{
        display: none;
    }
    .popular-content-top {
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}
