.intro-section {
    margin-top: 30px;
    width: 100%;
    height: 733px;
    position: relative;

    @media (max-width: 1024px) {
        margin-top: 0px;
    }
}

.slide-item {
    width: 100%;
    height: 733px;
    position: relative;

    img {
        border-radius: 40px;

        @media (max-width: 1024px) {
            border-radius: 0;
        }
    }

    @media (max-width: 1024px) {
        height: 650px;
    }


    &-inner {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        max-width: 1460px;
        margin: 0 auto;
        padding: 0px 20px;

        @media (max-width: 1024px) {
            top: 45%;
            transform: translate(-50%, -50%);
        }

        &-content {
            margin-top: 200px;
            max-width: 750px;

            h2 {
                margin-bottom: 30px;
                font-family: $fontFire;
                font-size: 60px;
                font-weight: 400;
                line-height: 72px;
                color: $white;

                @media (max-width: 1024px) {
                    font-size: 42px;
                    line-height: 50px;
                }
            }

            p {
                margin-bottom: 60px;
                font-size: 22px;
                font-weight: 300;
                line-height: 27px;
                color: $white;
            }
        }
    }
}

.slider-control-left {
    width: 59px;
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $blueWhite5;

    margin-left: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
        background-color: $white2;
    }
}

.slider-control-right {
    width: 59px;
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $blueWhite5;

    margin-right: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);

    svg {
        transform: rotate(180deg);
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
        background-color: $white2;
    }
}

.intro-section .slick-track {
    display: flex;
    gap: 0 !important;
}

.slider-controls {
    button {
        svg {
            color: $white
        }
    }
}

@media (max-width: 1600px) {
    .slider-controls {
        display: none;
    }
}

@media (max-width: 1024px) {
    .slide-item {
        img {
            object-fit: cover;
        }
    }
    .slide-item-inner {
        &-content {
            margin-top: 50px;
            max-width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                text-align: center;
            }

            p {
                text-align: center;
            }
        }
    }
}

.slick-dots {
    margin-bottom: 50px;
}

.slick-dots li.slick-active button:before {
    color: $blueWhite;
}

.slick-dots li button:before {
    color: $blueWhite;
}
