.catalog {

    &-content {
        margin-top: 70px;

        &-img {
            background-image: url(../../../public/catalogBcg.png);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 25px;
            overflow: hidden;
            height: 315px;
            width: 100%;
        }

        &-crubs {
            padding-top: 40px;
        }

        &-title {
            text-transform: uppercase;
            padding-top: 50px;
            font-family: $fontFire;
            font-size: 52px;
            font-weight: 400;
            line-height: 62px;
            color: $white;
        }

    }

    &-main {
        margin-top: 60px;

        &-categories {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 15px;

            &-item {
                padding: 15px 20px;
                font-size: 16px;
                font-weight: 300;
                line-height: 19px;
                color: $grey;

                background-color: $greyWhite;
                border-radius: 50px;
                cursor: pointer;
            }
        }

        &-find {
            margin-top: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-not-found{
            margin-top: 50px;
        }

        &-products {
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;

            @media(max-width: 1220px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media(max-width: 750px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        &-pagination {
            margin-top: 80px;

            @media(max-width: 750px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

    }
}

