.seo{
    margin-top: 160px;

    h2{
        margin-bottom: 30px;
        font-family: $fontFire;
        font-size: 45px;
        font-weight: 400;
        line-height: 54px;
        color: $grey;
    }

    p{
        margin-bottom: 40px;

        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        color: $grey8;
    }
}
