$orange: #ff6a28;
$dark-green: #009196;
$black: #2C2C2C;

$violent: rgba(168, 0, 227, 1);
$green: rgba(16, 199, 0, 1);

$red: rgba(255, 53, 53, 1);
$red2: rgba(255, 53, 53, 0.2);

$greyWhite: rgba(244, 244, 244, 1);
$grey: rgba(37, 37, 37, 1);
$grey8: rgba(37, 37, 37, 0.8);
$grey5: rgba(37, 37, 37, 0.5);
$grey2: rgba(37, 37, 37, 0.2);
$grey15: rgba(37, 37, 37, 0.15);

$white: rgb(255, 255, 255);
$white8: rgba(255, 255, 255, 0.8);
$white3: rgba(255, 255, 255, 0.3);
$white5: rgba(255, 255, 255, 0.5);
$white2: rgba(255, 255, 255, 0.2);
$white05: rgba(255, 255, 255, 0.05);

$blue: rgba(2, 21, 87, 1);
$blueWhite: rgba(53, 134, 255, 1);
$blueWhite5: rgba(53, 134, 255, 0.5);
$blueHover: rgba(42, 107, 204, 1);

//fonts
$fontBase: var(--font-base);
$fontFire: var(--font-fire);

$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-22: 22px;
$size-24: 24px;
$size-26: 26px;
$size-32: 32px;
$size-38: 38px;


