.pagination-to-left {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 53px;
    height: 53px;
    border-radius: 50px;

    border: 1px solid $grey2;

    svg {
        transform: rotate(180deg);
    }

    @media(max-width: 750px){
        width: 25px !important;
        height: 25px !important;
    }
}

.pagination-to-right {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 53px;
    height: 53px;
    border-radius: 50px;

    border: 1px solid $grey2;

    @media(max-width: 750px){
        width: 25px !important;
        height: 25px !important;
    }

}

.ant-pagination-item-active {
    background-color: $blueWhite !important;
    border-radius: 50px !important;
}

.ant-pagination{
    display: flex !important;
    li{
        display: inline-flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 53px !important;
        height: 53px !important;

        &:hover{
            border-radius: 50px;
        }

        @media(max-width: 750px){
            width: 25px !important;
            height: 25px !important;
            margin-inline-end: 5px !important;
        }
    }
}
