.product-item{
    width: 100%;

    &-img {
        display: block;
        height: 413px;
        width: 100%;
        position: relative;
        overflow: hidden;

        background-color: $greyWhite;
        border-radius: 20px;
        border: 1px solid $grey2;

        img{
            height: 350px;
            width:  350px;
        }

        &:hover{
            border: 2px solid $blueWhite;
        }
    }


    &-text {
        margin-top: 15px;
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;

        color: $grey;
    }

    &-bottom{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-price{
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            color: $grey;
        }
    }
}