.footer {
    margin-top: 160px;
    width: 100%;
    background-color: $grey;
    color: $white;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

@media (max-width: 1024px) {

}

